.about {
    h1 {
        font-size: $headerSize;
        span {
            color: $primary;
        }
    }
    &Row {
        display: flex;
        
        align-items: center;
        flex-direction: column-reverse;
    }
    &Grid {
        display: grid; 
        padding: 1rem 1rem 0 1rem !important;
        grid-template-areas: "header"  
                             "teaser"  
                             "description";
    }
    &Header {
        grid-area: header;
        h1 {
            text-align: center;
            position: relative;
            
        }
    }
    &Text {
        grid-area: description;
        width: 100%;
        z-index: 10;
        a {
            color: $primary;
        }
        
        ul {
            li {
                position: relative;
                list-style: none;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -1rem;
                    top: .6rem;
                    width: .5rem;
                    height: .5rem;
                    background-color: $primary;
                    border-radius: 2px;
                }
            }
        }
        
    }
    &Teaser {
        grid-area: teaser;
        z-index: 5;
        width: 100%;
    }
    .actionButton {
        position: relative;
        top: -3.70rem;
        left: -1rem;
        z-index: 20;
        transform: scale(1.15);
    }
    .enterButton {
        position: relative;
        top: -3.70rem;
        z-index: 20;
        right: -1rem;
        transform: scale(1.15);
        color: $primary;
    }
    .whiteSmile {
        &:before {
            top: -175vw;
        }
    }
    
}


.teaser {
    position: relative;
    top: 0rem;
    width: 100%;
    margin: 0rem auto;
    overflow: hidden;
    &:after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    &Print {        
        width: 50vw;
        height: 80vw;
        display: block;
        position: relative; 
        top: 1rem; 
        left: 10vw;     

        img {
            max-width: 100%;
            position: relative;
            border-radius: .5rem;
            box-shadow: .1rem .1rem 1rem rgba(30,30,30, .15);
        }
    }
    &Phone {
        
        width: 65vw;
        height: 80vw;
        display: block;
        position: absolute;
        left: 30%;
        top: 8vh;


        img {
            max-width: 100%;
            position: relative;
        }
    }
}


.whiteBg {
    position: relative;
    background-color: #fff;
    z-index: 10;
    
}

.whiteSmile {
    position: relative;
    min-height: 15vw;
    overflow: hidden;
    //z-index: 15;
    
    padding-top: 15%;
    &:before {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        width: 200vw;
        height: 200vw;
        border-radius: 50%;
        left: -50vw;
        top: -180vw;
        z-index: 1;
        //transform: translate();
    }
}



@media only screen and (min-width: 1024px) {
    .about {
        
        &Row {
            flex-direction: row;
        } 
        &Grid {
            display: grid; 
            grid-template-areas: "header teaser"  
                                 "description teaser";
            grid-template-columns: 62% 38%;
        }
        &Header {
            
            h1 {
                text-align: left;
                transform: translateY(2rem);
                &:before {
                    content: "";
                    display: block;
                    position: relative;
                    float: left;
                    //background-color: #ccc;
                    width: 2.5em;
                    height: 2.5em;
                    margin-right: 1rem;
                    left: 0;
                    top: 0;
                    transform: translateX(0);
                    background-image: 
                        url('data:image/svg+xml;utf8,<svg  fill="%23f47522" height="1066.6666pt" viewBox="-33 -33 1066.6666 1066.6666" width="1066.6666pt" xmlns="http://www.w3.org/2000/svg"><path d="m56.574219 150.324219c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875v-123.046875c0-16.183594 13.113281-29.296875 29.296875-29.296875h123.039062c16.183594 0 29.296875 13.113281 29.296875 29.296875 0 16.179687-13.113281 29.296875-29.296875 29.296875h-93.742187zm404.296875 628.90625c-16.183594 0-29.296875-13.117188-29.296875-29.296875 0-16.183594 13.113281-29.296875 29.296875-29.296875h25.390625c16.179687 0 29.296875 13.113281 29.296875 29.296875 0 16.179687-13.117188 29.296875-29.296875 29.296875zm21.484375-390.625c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875v-25.390625c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875zm179.6875 328.125c-16.183594 0-29.296875-13.117188-29.296875-29.296875 0-16.183594 13.113281-29.296875 29.296875-29.296875h25.390625c16.179687 0 29.296875 13.113281 29.296875 29.296875 0 16.179687-13.117188 29.296875-29.296875 29.296875zm-604.492188-189.453125h136.328125c-.390625 1.894531-.585937 3.851562-.585937 5.859375v87.890625c0 16.179687 13.113281 29.296875 29.296875 29.296875 16.179687 0 29.296875-13.117188 29.296875-29.296875v-87.890625c0-2.007813-.195313-3.964844-.585938-5.859375h258.398438v33.203125h-154.296875c-16.183594 0-29.296875 13.113281-29.296875 29.296875 0 16.179687 13.113281 29.296875 29.296875 29.296875h183.59375c16.179687 0 29.296875-13.117188 29.296875-29.296875v-62.5h109.375v85.9375c0 16.179687 13.113281 29.296875 29.296875 29.296875 16.179687 0 29.296875-13.117188 29.296875-29.296875v-85.9375h202.148437c16.179688 0 29.296875-13.117188 29.296875-29.296875 0-16.183594-13.117187-29.296875-29.296875-29.296875h-133.789062v-56.640625h29.296875c16.179687 0 29.296875-13.117188 29.296875-29.296875 0-16.183594-13.117188-29.296875-29.296875-29.296875h-146.484375c-16.183594 0-29.296875 13.113281-29.296875 29.296875 0 16.179687 13.113281 29.296875 29.296875 29.296875h58.59375v56.640625h-177.734375v-76.171875c0-16.183594-13.117188-29.296875-29.296875-29.296875-16.183594 0-29.296875 13.113281-29.296875 29.296875v76.171875h-452.148438c-16.183593 0-29.296875 13.113281-29.296875 29.296875 0 16.179687 13.113282 29.296875 29.296875 29.296875zm506.835938-359.375c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875v154.296875c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875zm-173.828125 11.71875h66.40625v-11.71875c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875v97.65625c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875v-27.34375h-66.40625v13.671875c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875v-83.984375c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875zm-234.382813 230.46875c-16.175781 0-29.296875-13.117188-29.296875-29.296875 0-16.183594 13.121094-29.296875 29.296875-29.296875h216.804688c16.179687 0 29.296875 13.113281 29.296875 29.296875 0 16.179687-13.117188 29.296875-29.296875 29.296875zm638.679688 388.671875v29.296875c0 16.179687 13.113281 29.296875 29.296875 29.296875 16.179687 0 29.296875-13.117188 29.296875-29.296875v-175.78125c0-16.171875-13.117188-29.296875-29.296875-29.296875-16.183594 0-29.296875 13.125-29.296875 29.296875v87.890625h-97.65625c-16.183594 0-29.296875 13.125-29.296875 29.296875 0 16.179687 13.113281 29.296875 29.296875 29.296875zm-298.828125 58.59375h87.890625c16.179687 0 29.296875-13.117188 29.296875-29.296875v-150.390625c0-16.183594-13.117188-29.296875-29.296875-29.296875-16.183594 0-29.296875 13.113281-29.296875 29.296875v121.09375h-58.59375c-16.183594 0-29.296875 13.113281-29.296875 29.296875 0 16.179687 13.113281 29.296875 29.296875 29.296875zm-162.109375-177.734375c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875v85.9375c0 16.179687-13.117188 29.296875-29.296875 29.296875-16.183594 0-29.296875-13.117188-29.296875-29.296875zm-177.734375-3.90625h123.046875c16.179687 0 29.296875 13.113281 29.296875 29.296875v123.046875c0 16.179687-13.117188 29.296875-29.296875 29.296875h-123.046875c-16.183594 0-29.296875-13.117188-29.296875-29.296875v-123.046875c0-16.183594 13.113281-29.296875 29.296875-29.296875zm93.75 58.59375h-64.453125v64.453125h64.453125zm466.796875-595.703125h123.046875c16.179687 0 29.296875 13.113281 29.296875 29.296875v123.046875c0 16.179687-13.117188 29.296875-29.296875 29.296875h-123.046875c-16.183594 0-29.296875-13.117188-29.296875-29.296875v-123.046875c0-16.183594 13.113281-29.296875 29.296875-29.296875zm93.75 58.59375h-64.453125v64.453125h64.453125zm-654.296875-58.59375c-16.183594 0-29.296875 13.113281-29.296875 29.296875v123.046875c0 16.179687 13.113281 29.296875 29.296875 29.296875h123.046875c16.179687 0 29.296875-13.117188 29.296875-29.296875v-123.046875c0-16.183594-13.117188-29.296875-29.296875-29.296875zm93.75 58.59375v64.453125h-64.453125v-64.453125zm689.453125 648.4375c0-16.183594 13.113281-29.296875 29.296875-29.296875 16.179687 0 29.296875 13.113281 29.296875 29.296875v123.046875c0 16.179687-13.117188 29.296875-29.296875 29.296875h-123.042969c-16.175781 0-29.296875-13.117188-29.296875-29.296875 0-16.183594 13.121094-29.296875 29.296875-29.296875h93.746094zm-941.40625 0v123.046875c0 16.179687 13.113281 29.296875 29.296875 29.296875h123.039062c16.183594 0 29.296875-13.117188 29.296875-29.296875 0-16.183594-13.113281-29.296875-29.296875-29.296875h-93.742187v-93.75c0-16.183594-13.117188-29.296875-29.296875-29.296875-16.183594 0-29.296875 13.113281-29.296875 29.296875zm1000-695.3125v-123.046875c0-16.183594-13.117188-29.296875-29.296875-29.296875h-123.042969c-16.175781 0-29.296875 13.113281-29.296875 29.296875 0 16.179687 13.121094 29.296875 29.296875 29.296875h93.746094v93.75c0 16.179687 13.113281 29.296875 29.296875 29.296875 16.179687 0 29.296875-13.117188 29.296875-29.296875zm0 0" fill-rule="evenodd"  /></svg>');
                    background-size: cover;
                }
            }
        }
        &Text {
            width: 50%;
            
        }
        &Teaser {
            width: 50%;
        }
        .enterButton {
            display: none;
        }
        .whiteSmile {
            &:before {
                top: -185vw;
            }
        }
    }
    

    $teaserWidth: 16rem;
    $teaserHeight: 32rem;
    .teaser {
        position: relative;
        top: 3rem;
        overflow: visible;
        width: $teaserWidth*1.2;
        margin: 0 auto;
        &:after {
            display: none;
        }
        &:hover div {
            transform: translateX(1rem);
            filter: blur(.04rem);
        }
        &Print {
            left: 0;
            top: 0;
            width: $teaserWidth*.8;
            height: $teaserHeight*.6;
            display: block;
            position: relative;
            transition: all .25s ease-in-out 0s;
            &:hover {
                transform: scale(1.2) translateX(-1rem) !important;
                filter: blur(.0rem) !important;
            }
            img {
                max-width: 100%;
                position: relative;
                border-radius: .5rem;
                box-shadow: .1rem .1rem 1rem rgba(30,30,30, .15);
            }
        }
        &Phone {
            
            width: $teaserWidth;
            height: $teaserHeight;
            display: block;
            position: absolute;
            left: $teaserWidth/2;
            top: 2rem;
            transition: all .25s ease-in-out 0s;
            &:hover {
                transform: scale(1.2) translateX(-1rem) !important;
                filter: blur(.0rem) !important;
            }
            img {
                max-width: 100%;
                position: relative;
            }
        }
    }
    .whiteSmile {

        
        padding-top: 7%;
        &:before {
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 200vw;
            height: 200vw;
            border-radius: 50%;
            left: -50vw;
            top: -185vw;
            z-index: 1;
            //transform: translate();
        }
    }
    
}

@media only screen and (min-width: 1280px) {
    .about {
        &Text {
            width: 60%;
        }
        &Teaser {
            width: 40%;
        }
    }
    
}