.pic {
    max-width: 50%;
    position: relative;
    display: block;
    border-radius: 1rem;
    box-shadow: .15rem .15rem .15rem rgba(30,30,30, .25);
}

.alignLeft {     
    float: left;
    margin: 0 1rem .5rem 0;    
}

.alignRight{    
    float: right;
    margin: 0 0 .5rem 1rem;
}

.alignCenter {
    display: block;
    margin: 0 auto .5rem auto;
}

@media only screen and (min-width: 1024px) {
    .pic {
        width: 20%;
    }
}