//Почему выбирают
.features {
    background-color: lighten($secondary, 20%);
    overflow: hidden;
    padding: 1.5rem 0 0rem 0;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    
    
    &Bg {
        display: none;
    }
    &Card {
        
        background-color: #fff;
        position: relative;
        padding: 3rem 2rem 2rem 2rem;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: .25rem .25rem 1rem rgba(30,30,30, .3);
        &:before {
            content: "";
            display: block;
            position: absolute;
            background-color: $primary;
            height: .5rem;
            width: 100%;
            top: 0;
            left: 0;
        }
        &:nth-child(even) {
            float: right;
        }
        h3 {
            position: relative;
            text-align: center;
            font-size: $headerSize;
            line-height: 2.5rem;
            margin: 0;
            color: $primary;
            
        }
        ul {
            &:last-child {
                margin-bottom: 0;
            }
            ul {

                li {

                    list-style: square;
                }
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    .features {
        padding: 10rem 0;
        .wrapper {
            padding: 0 1rem;
        }
        &Bg {
            display: block;
            position: absolute !important;
            left: 0;
            top: 0;
            width: 100%;
            height: 150vh;
            //height: 1px !important;
            overflow: visible;
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 25%;
                background: linear-gradient(0deg, rgba(lighten($secondary, 20%),1) 0%, rgba(lighten($secondary, 20%),0) 100%);
                
            }
        }
        &Card {
            width: 70%;
            float: left;
            margin-bottom: -2rem;
            .ct {
                text-align: left;
            }
            &:nth-child(even) {
                .ct {
                    text-align: right;
                }
            }
            h3 {
                text-align: left;
                left: -.5rem;
                top: -1.5rem;
                
            }
        }
    }
}