//Подвал
.footer {
    background-color: #fff;
    padding-top: 2rem;
    &Body {
        display: flex;
        flex-direction: column;
        div {
            flex: 1;
            text-align: center;
            display: block;
            padding-bottom: 1rem;
            &:first-child {
                margin-left: 0;
            }
            
            a {
                display: block;
                line-height: 1.5rem;
                clear: both;
                margin-bottom: .5rem;
            }
        }
        h3 {
            
            padding: .25rem 0 .25rem 0;
        }
        

    }
    &Contacts {

    }

    &Logo {
        img {
            width: 80%;
            max-width: 14rem;
        }
    }

    &Disclaimer {
        border-top: 1px #ccc solid;
        color: $secondary;
        padding: 1rem 0 .5rem 0;
        font-size: .8rem;
        text-align: center;
    }
    .social {
        margin-left: 0;
        margin-top: .5rem;
        a {
            display: inline-block;
            margin-right: .75rem;
            border: 0;
            background: none;
            filter: grayscale(1);
            opacity: .5;
            &:hover {
                opacity: 1;
                filter: grayscale(0);
            }
        }
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.scrollTop {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .25rem $primary solid !important;
    background-color: #fff !important;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    box-shadow: .1rem .1rem .25rem rgba(50, 30,30, .3);
    text-decoration: none !important;
    &:hover {
        color: $primary;
    }    
}

@media only screen and (min-width: 1024px) {
    .footer {
        &Body {
            flex-direction: row;
            div {
                text-align: left;
                padding-bottom: 0;
                margin: 0 0rem 2rem 2rem;
            }
            h3 {
                border-bottom: 1px #ccc solid;
            }
        }
    }
    .scrollTop {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 50%;
        box-shadow: .1rem .1rem .25rem rgba(50, 30,30, .3);
        &:hover {
            color: $primary;
        }    
    }
}

