//Хедер с меню
.front {
    header {
        background-color: #fff !important;
    }
}

.appBar {
    display: flex;
    flex-direction: row !important;
    //background: none !important;
    //position: relative !important;
    min-height: "4rem";  
    //background-color: #fafafa !important;
    font-weight: bold  !important;
    color: #111 !important;
    .logo {
        display: none;     
        
        img {
            height: 4rem;
            margin: 0 1rem;
        }
    }
    .menu {
        display: block;
        //position: fixed;
        box-shadow: 0 .25rem 1rem rgba(30,30,30, .15) !important;
        background-color: #fff;
        //width: 100%;
        flex: 2;
        z-index: 2;
        nav {
            display: block;
            text-align: center;
            
            position: relative;
            a {
                display: inline-block;
                margin: 1rem 1rem;
                line-height: 2rem;
                font-weight: bold;
                color: #111;
                text-decoration: none;
                border-bottom:.2rem #f47522 solid;
                background-color: transparent;
                transition: all .15s ease-in-out 0s;
                &:hover {
                    //background: rgba(#f47522, .2);
                    border-bottom: .2rem lighten(#f47522, 20%) solid;
                }
                
            }
        }
        
    }
    .form {
        display: flex;
        flex-direction: column;
        flex: 1;
        z-index: 1;
        padding: 1.5rem 1rem .5rem .5rem;
        //background-color: #fff;
        color: #fff;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        font-size: 1rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-weight: bold;
        
        .codeInput {
            margin: .25rem .25rem .25rem .5rem;
            background-color: #fff;
            border-radius: 1.75rem;
            padding: 0 0 0 1rem;
            
        }
        
        .MuiFormControl-root {
            margin-left: .5rem;
            margin-top: .5rem;
        }
        .MuiOutlinedInput-root {
            border-radius: 1.5rem;
            background-color: #fff;
        }
    }
    .login {
        margin: 0;
        //background-color: #fff;
        //width: 100%;
        display: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        .MuiButtonBase-root {
            border-radius: 1.5rem;
            //transform: translateY(1.5rem);
        }
        
    }
}

.subHeader {
    padding: 1rem 1rem .75rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //background-color: rgba(255,255,255,.2);
    color: #fff;
    .thanks {
        font-weight: bold;
    }
    .codeInput {
        margin: .25rem .25rem .25rem .5rem;
        background-color: #fff;
        border-radius: 1.75rem;
        padding: 0 0 0 1rem;        
    }
}

@media only screen and (max-width: 1024px) { 
    .front {    
        .MuiInputLabel-outlined.MuiInputLabel-shrink {
            opacity: 0;
            
        }
        .fieldset {
            opacity: 1;
        }
        
        .MuiOutlinedInput-notchedOutline{
                opacity: 0 !important;
        }
    }
}

@media only screen and (min-width: 1024px) { 
    .front {
        header {
            background-color: #fff !important;
        }
    }
    .appBar {
        height: auto;
        flex-direction: row !important;
        position: fixed !important;
        box-shadow: 0 .25rem 1rem rgba(30,30,30, .15) !important;
        .logo {
            display: block;
            flex: 1;
        }
        .menu {
            display: block;
            position: relative;
            box-shadow: none !important;
            background: none;
            flex: 1;
        }
        .login {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            .MuiButton-label {
                text-transform: none;
                font-weight: bold;
            }
        }
        .form {
            display: flex;
            flex-direction: row;
            flex: 1;
            position: relative;
            background: none;
            margin: 0.5rem 1rem .5rem .5rem;
            padding: 0;
            align-items: center;
            justify-content: flex-end;
            font-size: 1;
            font-weight: bold;
            color: #111;
            form {
                position: relative;
            }
            .thanks {
                position: absolute;
                font-size: .6rem;
                //transform: scale(0.75);
                top: -.25rem;
                left: 1.3rem;
                padding: 0 .25rem;
                font-weight: normal;
                color: $primary;
                z-index: 10;
                background-color: #fff;
            }
            .codeInput {
                border: 1px #ccc solid;
                
            }
            .MuiFormControl-root {
                margin-left: .5rem;
                margin-top: 0;
            }
            .MuiOutlinedInput-root {
                border-radius: 1.5rem;
                background-color: #fff;
            }
        }
        .login {
            margin: 0 1rem 0 0;
            //background-color: #fff;
            width: auto;

        }
    }
}

@media only screen and (min-width: 1600px) { 
    .appBar {
        .logo {
            flex: 1;
        }
        .menu {
            flex: 2;
        }
    }
}