.histories {
    background-color: $primary;
    background: linear-gradient(-90deg, #f23825 0%,#f47522 70%);
    position: relative;
    overflow: hidden;
    //min-height: 100vh;
    padding-bottom: 6rem;
    h2 {
        color: #fff;
        font-size: $headerSize;
        margin-top: 0;
    }
    &Menu {
        z-index: 10;
        text-align: center;
        margin-bottom: 1rem !important;
        a {
            display: inline-block;
            background-color: #fff;
            padding: .5rem 1rem;
            border-radius: 1.5rem;
            margin: 0 .5rem .5rem 0;
            &:hover {
                color: #fff;
                background-color: rgba(255,255,255,.15);
                text-decoration: none;
            }
            
        }
        .active {
            color: #fff;
            background-color: $secondary;
            &:hover {
                color: #fff;
                background-color: $secondary;
            }
        }
    }
    &Text {
        background-color: #fff;
        border-radius: 1.5rem;
        padding: 0;
        line-height: 1.5rem;
        box-sizing: border-box;
        z-index: 10;
        
        overflow: hidden;

    }
    .creditBg {
        position: absolute;
        opacity: .2;
        z-index: 1;
        bottom: 0rem;
        left: 2.5%;
    }

}

.slider {
    position: relative;
    //width: 900%; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: all 1s ease-in-out 0s;
    &Item {
        position: relative;
        width: 200%;
        float: left;
        padding: 1rem 2rem;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1024px) {
    .histories {
        &Menu {
            text-align: left;
        }
    }
}

//Правки для блока без отзывов - вместо них ссылки на "почему выбирает"
.histories2 { 
    text-align: center !important;
    .historiesMenu {
        text-align: center;
        .cat0 {
            color: lighten($secondary, 0);
            background-color: rgba(255,255,255, 1);

            &:hover {
                color: #fff;
                background-color: $secondary;
            }
        }
        .cat1 {
            color: lighten($secondary, 0);
            background-color: rgba(255,225,205, 1);

                &:hover {
                    color: #fff;
                    background-color: $secondary;
                }
        }
    }
}