//Как работает сервис
.howTo {
    text-align: center;
    //display: none;
    
    h2 {
        text-align: center;
        max-width: 13rem;
        line-height: $headerSize*1.25;
        margin-bottom: 4rem;
        font-size: $headerSize;
        position: relative;
        z-index: 2;
        background-color: #fff;
        display: inline-block;
        height: 2rem;
        padding: 1rem 2rem;
        top: $headerSize*-1*.25;
    }
    .whiteSad {
        position: relative;
        min-height: 10vw;
        overflow: hidden;
        padding-top: 5vw;        
        &:before {
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 200vw;
            height: 200vw;
            border-radius: 50%;
            left: -50vw;
            
            bottom: -185vw;
            z-index: 1;
            //transform: translate();
        }
    }
    .whiteText {
        background-color: #fff;
        min-height: 15vh;
        padding-bottom: 0;
        margin-bottom: -6.5rem;
        line-height: 1.5rem;
        .wrapper {
            position: relative;
            top: -3rem;
        }
    }
}

//Stepper Алгоритм работы сервиса
$iconSize: 6rem;
.stepper {

    border: 1px #ccc solid;
    border-radius: 1.5rem;
    padding: 4rem 1rem 4rem 1rem;
    position: relative;
    top: -5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    
    &Item {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 5rem 0rem 0rem 0rem;
        &:before {   
            content: "";     
            width: 1rem;
            height: 1rem;        
            position: absolute;
            display: block;        
            text-align: center;
            color: $secondary;
            top: -3rem;
            transform: rotate(90deg) scale(2);
            background-image: 
                        url('data:image/svg+xml;utf8,<svg fill="%23696983" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="268.832px" height="268.832px" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
                        xml:space="preserve">               <g>                   <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5
                           c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678
                           c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"/>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               <g>               </g>               </svg>');
                                           background-size: contain;
            background-position: 100% 50%;
            background-repeat: no-repeat;
        }
        &:first-child {
            margin-top: 0;
            &:before {
                display: none;
            }
        }        
        
        .icon {
            display: block;
            width: $iconSize;
            height: $iconSize;
            //background-color: rgba($secondary, .15);
            //border: .2rem $secondary solid;
            border-radius: 50%;
            margin-bottom: 1rem;
            //padding: 1.5rem;
            box-sizing: border-box;
            img {
                display: block;
                width: 100%;
            }
        }
        .description {
            text-align: center;
            //color: $secondary;
            
            padding-top: .5rem;
            
        }
    }
    
}

@media only screen and (min-width: 1024px) {
    .howTo {
        h2 {
            max-width: 100%;
            top: -2.25rem;
        }
        margin-bottom: 0rem;
        .whiteText {
            
            margin-bottom: -2rem;
        }
    }
    .stepper {
        flex-direction: row;
        top: -8rem;
        &Item {
            margin: 0 1rem 0 1rem;
            width: auto;
            &:before {        
                transform: rotate(0deg)  scale(2);
                
                left: -1rem;
                top: $iconSize/2;
            }
        }
        
    }
    
}