.integration {
    //background-color: #fff;
    
    .wrapper {
        max-width: 1600px;
        //display: flex;
        //flex-direction: row-reverse;
    }
    h2 {
        margin-top: 1.5rem;
        text-align: center;
        font-size: $headerSize;
        font-weight: bold;
        //color: $secondary;
        
    }
    &Gallery {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &Item {
        margin: 1rem;
        border-radius: 1.5rem;
        box-shadow: .25rem .25rem 1rem rgba(30,30,30, .3);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        //background-color: $primary;
        width: 20rem;
        
        
        box-sizing: border-box;

        
        
        img {
            max-width: 100%;
            height: 16rem;
            object-fit: cover;
            object-position: top center;
            //background-color: #fff;
            
                       
        }
        .caption {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            text-align: center;
            color: $secondary;
            //font-weight: bold;
            position: relative;
            background-color: #fff;
            //border-top: .25rem #fff solid;

        }
    }
}

@media only screen and (min-width: 1024px) {
    .integration {
        &Item {
            width: 18rem;
        }
    }
}


@media only screen and (min-width: 1280px) {
    .integration {
        h2 {
            margin-top: 6rem;
        }
        &Item {  
            width: 16rem;          
            //&:nth-child(2) {
                //transform: translateY(3rem);
            //}
            //&:nth-child(3) {
                //transform: translateY(3rem);
            //}
        }
    }
}