//Тарифы
.price {
    
    color: #fff;
    padding-bottom: 4rem;
    overflow: hidden;
    h2 {
        text-align: center;        
        font-size: $headerSize;
        font-weight: bold;
    }
    &Grid {
        display: flex;
        flex-direction: column;
        
        position: relative;
        
    }
    &Item {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 2rem 1rem;
        color: $secondary;
        flex: 1;
        text-align: center;
        border: 1px #fff dotted;
        background-color: #fff;
        border-radius: 1.5rem;
        padding: 2rem;
        &:last-child {
            //border: 0;
        }
    }
    &Header {
        font-size: 1rem;
    }
    &Body {
        margin: 2rem 0 1rem 0;
        color: $primary;
        padding-top: 1rem;
        font-size: 2rem;
        font-weight: bold;
        border-top: .25rem #efefef solid;
    }
}



@media only screen and (min-width: 1024px) {
    .price {
        &Grid {
            flex-direction: row;
            margin-bottom: 7rem;
            &:before {
                content: "";
                position: absolute;
                width: 60vw;
                height: 60vw;
                border: 1px #fff solid;
                top: -50%;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                opacity: .25;
            }
        }
        &Item {
            margin-bottom: 0;
            &:nth-child(even) {
                transform: translateY(3rem);
            }
        }
    }
}