$primary: #f47522; //Основной цвет
$secondary: #696983; //Второстепенный цвет
$bg: $primary; 

$headerSize: 1.75rem;

html {
    font-family: "Roboto", Helvetica, serif;
    font-size: 16px;  
}

body {
  
}

.front { 
    font-size: calc(.5vw + 12px) !important; // Размер шрифта для лендинга (мобильный)
    background: linear-gradient(-90deg, #f23825 0%,#f47522 70%);  
}

a {
    cursor: pointer;
}

.landing {
    background-color: $bg;
    background: linear-gradient(-90deg, #f23825 0%,#f47522 70%); 
    margin-top: 4rem; 
    .actionButton {
        transform: scale(1);
        font-size: 1rem;
    }
    
    a {
        color: $secondary;
        text-decoration: none;
        //border-bottom:.2rem #f47522 solid;
        background-color: transparent;
        transition: all .15s ease-in-out 0s;
        cursor: pointer;
        &:hover {
            //background: rgba(#f47522, .2);
            text-decoration: underline;
        }
    }

    .MuiButton-root {
        border-radius: 1.5rem;
        
        color: #fff;
    }


    .ct {
        z-index: 99;
        position: relative;
        text-align: center;
        .MuiButton-label {
            text-transform: none;
            font-weight: bold;
        }
    }



    ul {
        li {
            line-height: 1.5rem;
            margin: .5rem;
        }
        margin: .5rem 0 1.5rem 0;
    }

    
}

@media only screen and (min-width: 1024px) {
    .front {
        font-size: calc(.5vw + 10px) !important; // Размер шрифта для лендинга (десктоп)
    }
    .landing {
        padding-top: 4rem;
        margin-top: 0; 
    }
}


// Хедер
@import "header.scss";

// Первый экран
@import "about.scss";

// Для кого?
@import "histories.scss"; 

.wrapper {
    padding: 1rem;
    max-width: 1280px;
    margin: 0 auto;    
}

//Как работает сервис
@import "howto.scss";

//Почему выбирают
@import "features.scss";

//Интеграции
@import "integration.scss";

//Тарифы
@import "price.scss"; 

//Футер
@import "footer.scss";

//Контент
@import "content.scss"; 

